name: "Set Issue Label and Assignee"
on:
  issues:
    types: [opened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: Naturalclar/issue-action@v2.0.2
        with:
          title-or-body: "both"
          parameters: '[ {"keywords": ["niriss","NIRISS"], "labels": ["NIRISS"], "assignees": ["afeinstein20","kevin218"]}, {"keywords": ["nirspec","NIRSpec","NIRSPEC"], "labels": ["NIRSpec"], "assignees": ["cpiaulet","taylorbell57","evamariaa","jbrande"]}, {"keywords": ["nircam","NIRCAM","NIRCam"], "labels": ["NIRCam"], "assignees": ["kevin218","taylorbell57","evamariaa"]}, {"keywords": ["MIRI","miri"], "labels": ["MIRI"], "assignees": ["taylorbell57","sebastian-zieba"]}, {"keywords": ["Light curve fitting"], "labels": ["LC Fit"], "assignees": ["taylorbell57","evamariaa","cpiaulet","jbrande"]}, {"keywords": ["Other (any stage)"], "labels": [], "assignees": ["jbrande","taylorbell57"]}]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"
